<launch>
  <arg name="qtable_input_path" default="$(find wall_following_triton)/config/qtable_d1.yaml"/>
  <arg name="qtable_output_path" default="$(find wall_following_triton)/artifacts/qtable_d2_sarsa_best.yaml"/>
  <arg name="latest_qtable_output_path" default="$(find wall_following_triton)/artifacts/qtable_d2_sarsa_latest.yaml"/>
  <arg name="metrics_csv_path" default="$(find wall_following_triton)/artifacts/d2_sarsa_metrics.csv"/>
  <arg name="control_hz" default="6.0"/>
  <arg name="max_episodes" default="320"/>
  <arg name="max_steps_per_episode" default="700"/>
  <arg name="resume_training_state" default="true"/>

  <include file="$(find wall_following_triton)/launch/wf_d2.launch">
    <arg name="algorithm" value="sarsa"/>
    <arg name="mode" value="train"/>
    <arg name="qtable_input_path" value="$(arg qtable_input_path)"/>
    <arg name="qtable_output_path" value="$(arg qtable_output_path)"/>
    <arg name="latest_qtable_output_path" value="$(arg latest_qtable_output_path)"/>
    <arg name="metrics_csv_path" value="$(arg metrics_csv_path)"/>
    <arg name="control_hz" value="$(arg control_hz)"/>
    <arg name="max_episodes" value="$(arg max_episodes)"/>
    <arg name="max_steps_per_episode" value="$(arg max_steps_per_episode)"/>
    <arg name="resume_training_state" value="$(arg resume_training_state)"/>
  </include>
</launch>
